<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fun.syomie.uce_handler" >

    <application>
        <activity
            android:name=".LibraryActivity"
            android:label="@string/act_name"
            android:clearTaskOnLaunch="true">
        </activity>
    </application>

</manifest>

